<ion-content [fullscreen]="true">
  <div class="profile-container">
    <ion-button class="right-button" (click)="cancel()">
      <ion-icon name="close-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <img
      id="myImage"
      class="profile-picture"
      [src]="APIurl + '/user/proxy-image?url='+(user?.PictureUrl)"
      alt="Profile Picture"
    />
    <ion-button *ngIf="login" [class]="followed ? 'unfollow-button' : 'follow-button'" (click)="followed ? FollowDeleteConfirm() : follow()" [disabled]="isMe">
      <ion-icon [name]="followed ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
      <p>{{ followed ? "Unfollow" : "Follow" }}</p>
    </ion-button>
    <ion-button *ngIf="!login" class="follow-button" (click)="connexion()">
      <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      <p>{{ "Follow" }}</p>
    </ion-button>
    <div class="profile-info">
      <h1>{{ user?.Nickname }}</h1>
      <p>Country: {{ user?.Address?.City.Country.Name }}</p>
      <p>City: {{ user?.Address?.City.Name }}</p>
      <div class="socials">
        <ion-button [disabled]="!user?.Social?.Spotify" class="spotify" (click)="openLink(user?.Social?.Spotify)">
          <img src="../../../assets/icon/Spotify_logo.png" height="20px" width="20px"/>
        </ion-button>
        <ion-button [disabled]="!user?.Social?.Youtube" class="youtube" (click)="openLink(user?.Social?.Youtube)">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
        <ion-button [disabled]="!user?.Social?.Soundcloud" class="soundcloud" (click)="openLink(user?.Social?.Soundcloud)">
          <ion-icon name="logo-soundcloud"></ion-icon>
        </ion-button>
        <ion-button [disabled]="!user?.Social?.Facebook" class="facebook" (click)="openLink(user?.Social?.Facebook)">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </div>
    </div>
    <ion-list>
      <div>
        <p class="centered-inline" *ngIf="music == null">Pas de musique, pour l'instant ! ♫</p>
      </div>
      <ion-item *ngFor="let item of music let number = index" class="item-container">
        <ion-label class="label-container">
          <ion-row>
            <ion-col size="2" class="centered-inline">
              <p class="Text-center">{{ number+1 }}</p>
            </ion-col>
            <ion-col size="8" class="centered-inline">
              <ion-button (click)="playAudio(item.FilePath)" class="invisible">
                <ion-icon name="play-outline"></ion-icon>
              </ion-button>
              <p class="Text-center">{{ item.Name }}</p>
            </ion-col>
            <ion-col size="2">
              <ion-button *ngIf="login" [color]="itemLikes[item.id] ? 'danger' : 'tertiary'" (click)="itemLikes[item.id] ? LikeDeleteConfirm(item.id) : like(item.id)"
                ><ion-icon [name]="itemLikes[item.id] ? 'heart-dislike' : 'heart-outline'"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!login" [color]="itemLikes[item.id] ? 'danger' : 'tertiary'" (click)="connexion()"
              ><ion-icon name="heart-outline"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <audio #audioPlayer></audio>
</ion-content>
