<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  #content
  id="content"
  (ionScroll)="onContentScroll($event)"
  (ionScrollEnd)="onContentScrollEnd($event)"
  disableScroll
>
  <ion-row [id]="'page-' + PageNumber" *ngFor="let image of images let PageNumber = index">
    <!-- <ion-img src="{{image}}"></ion-img> -->
    <canvas #visual [attr.id]="'canva-' + PageNumber"></canvas>
    <div class="reaction-container">
      <ion-buttons class="reaction-toolbar">
        <button (click)="getLiked(PageNumber)">
          <ion-icon
            slot="icon-only"
            [name]="like[PageNumber] ? 'heart' : 'heart-outline'"
            [class]="like[PageNumber] ? 'heart' : ''"
          ></ion-icon>
          <p slot="icon-only">{{numLike[PageNumber]}}</p>
        </button>
        <button>
          <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
          <p slot="icon-only">{{0}}</p>
        </button>
        <button>
          <ion-icon slot="icon-only" name="share-social"></ion-icon>
          <p slot="icon-only">{{0}}</p>
        </button>
      </ion-buttons>
    </div>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingText="Loading..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <button #hiddenButton (click)="onHiddenButtonClick()" style="display:none"></button>
</ion-content>
