<ion-content #content [fullscreen]="true" id="content" scrollY="false">
  <swiper-container #swiper direction="vertical"   (reachend)="loadData()" *ngIf="musics">
    <swiper-slide [id]="'page-' + PageNumber" *ngFor="let music of musics let PageNumber = index">
      <canvas #visual [attr.id]="'canva-' + PageNumber"></canvas>
      <div class="info-container">
        <p>{{titleShown[PageNumber]}}</p>
        <p><a [routerLink]="['/otherProfile', usersId[PageNumber]]">{{nickname[PageNumber]}}</a></p>
      </div>
      <div class="reaction-container">
        <ion-buttons class="reaction-toolbar">
          <button (click)="itemLikes[titre[PageNumber]] ? deleteLike(titre[PageNumber]) : like(titre[PageNumber])" [disabled]="!login">
            <ion-icon
              slot="icon-only"
              [name]="itemLikes[titre[PageNumber]] ? 'heart' : 'heart-outline'"
              [class]="itemLikes[titre[PageNumber]] ? 'heart' : ''"
            ></ion-icon>
            <p slot="icon-only">{{numLike[titre[PageNumber]]}}</p>
          </button>
          <button (click)="openCommentModal(titre[PageNumber])">
            <ion-icon slot="icon-only" name="chatbubble-ellipses" ></ion-icon>
            <p slot="icon-only">{{numCom[titre[PageNumber]]}}</p>
          </button>
          <button>
            <ion-icon slot="icon-only" name="share-social"></ion-icon>
            <p slot="icon-only">{{0}}</p>
          </button>
        </ion-buttons>
      </div></swiper-slide
    >
  </swiper-container>
</ion-content>
