.reaction-container {
    position: absolute;
    bottom: 10%;
    right: 3%;
    z-index: 1;
}

.info-container {
    position: absolute;
    bottom: 10%;
    left: 3%;
    z-index: 1;
}

a{
    font-weight: 900;
    color:white;
    text-decoration:none;
}

.reaction-toolbar {
    display: flex;
    flex-direction: column;

    ion-button {
        width: 80px;
        height: 80px;

        ion-icon {
            height: 70%;
            width: 70%;
        }

        p[slot="icon-only"] {
            margin: 0;
        }
    }
}

button {
    background-color: transparent;
    padding: 3px 3px 0px 3px;
}

p {
    margin-top: 3px;
}

@media (max-width: 767px) {
    ion-toolbar {
        top: 75%;
    }

    .reaction-toolbar ion-button {
        width: 70px;
        height: 70px;

        ion-icon {
            height: 60%;
            width: 60%;
        }
    }
}

@media (max-width: 480px) {
    ion-toolbar {
        top: 80%;
    }

    .reaction-toolbar ion-button {
        width: 60px;
        height: 60px;

        ion-icon {
            height: 70%;
            width: 70%;
        }
    }
}

ion-content {
    --overflow: auto !important;
    --webkit-overflow-scrolling: touch !important;
    --ion-scroll-background-color: transparent;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.heart{
    color: rgb(254, 37, 27);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

swiper-container {
    width: 100vw;
    height: 100vh;
}

.my-popover {
    --height: 80%;
    --width: 100%;
  }

.desc-container{
    width: 80%;
}

.show-more{
    font-weight: bold;
    font-size: 0.8em;
}
