ion-img {
    width: 15% !important;
    height: 15%;
    margin-left: 2%;
}



ion-button {
    --background: transparent;
    width: 10%;
    margin-right: 2%;
    --padding-start: 0;
    --padding-end: 0;
    --box-shadow: none;
}

ion-icon {
    color: white;
    height: 100%;
    width: 100%;
}