<div class="navbar-container">
  <ion-segment mode="md" [(ngModel)]="activeTab" color="dark">
    <ion-segment-button value="music">
      <ion-label>Music</ion-label>
    </ion-segment-button>
    <ion-segment-button value="follow">
      <ion-label>Follow</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<div class="tab-content">
  <ng-container *ngIf="activeTab === 'music'">
    <ion-list>
      <ion-item *ngFor="let item of (musicObserv | async) let number = index" class="centerItem">
        <ion-label>
          <ion-row>
            <ion-col size="2">
              <p class="Text-center">{{ number+1 }}</p>
            </ion-col>
            <ion-col size="8">
              <p class="Text-center">{{ item.Name }}</p>
            </ion-col>
            <ion-col size="2">
              <ion-button color="danger" (click)="MusicDeleteConfirm(item.id)"
                ><ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="activeTab === 'follow'">
    <ion-list>
      <ion-item *ngFor="let item of (followObserv | async) let itemNumber = index" class="centerItem">
        <ion-label>
          <ion-row>
            <ion-col size="2">
              <p class="Text-center">{{ itemNumber+1 }}</p>
            </ion-col>
            <ion-col size="8">
              <p class="Text-center"><a [routerLink]="['/otherProfile', item.id]">{{ item.Nickname }}</a></p>
            </ion-col>
            <ion-col size="2">
              <ion-button color="danger" (click)="FollowDeleteConfirm(item.id)"
                ><ion-icon name="heart-dislike-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</div>
<!-- 
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="musics">
      <ion-label>Musique</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="amis">
      <ion-label>Amis</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
