<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="musics">
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="amis">
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- <ion-tab tab="musics"> see doc ion-router
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Tab 1
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
    </ion-content>
  </ion-tab>

  <ion-tab tab="amis">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Tab 2
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
    </ion-content>
  </ion-tab> -->
</ion-tabs>
