<ion-tabs #tabs (ionTabsDidChange)="onTabSelected();">
  <ion-tab-bar slot="bottom" color="light"  *ngIf="showTabBar">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" [name]="selectedTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" [name]="selectedTab == 'search' ? 'search' : 'search-sharp'"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <ion-icon aria-hidden="true" [name]="selectedTab == 'music' ? 'musical-notes' : 'musical-notes-outline'"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon area-hidden="true" [name]="selectedTab == 'profil' ? 'person-circle' : 'person-circle-outline'"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon aria-hidden="true" [name]="selectedTab == 'chat' ? 'chatbox-ellipses' : 'chatbox-ellipses-outline'"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
