<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
    <ion-searchbar placeholder="Search for instrument" (ionInput)="onSearch($event)"></ion-searchbar>
    <a class="underline" (click)="viewNewInstrument()">Instrument Not Found ?</a>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-radio-group (ionChange)="onRadioChange($event)">
        <ion-item *ngFor="let instrument of instrumentsFiltered">
          <ion-radio [value]="instrument.id">{{ instrument.Name }}</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>    
</ion-content>