<div class="firstDiv">
  <div class="comment-container-image">
    <div class="image-container">
      <div class="image">
        <img [src]="ApiUrl + '/user/proxy-image?url='+comments.User.PictureUrl">
      </div>
    </div>
    <div class="comment-container">
      <div class="author">
        <a [routerLink]="['/otherProfile', comments.User.id]" (click)="cancel()"><b>{{ comments.User.Nickname }}</b></a>:
      </div>
      <div class="comment" (click)="toggleComment()">
        <span>{{comments.Message.length > 50 ? showLess ? comments.Message : comments.Message.slice(0, 50) + '...' : comments.Message}}</span>
        <b  *ngIf="comments.Message.length > 50" class="show-more">{{ showLess ? ' Show Less' : ' Show More' }}</b>
      </div>
    </div>
  </div>
  <div class="buttonsInteraction">
    <button color="dark" (click)="showReplyComment()" [disabled]="!login">Reply</button>
    <button color="dark" (click)="deleteCom(comments.id)" [class]="comments.User.Nickname == name ? '' : 'vanish'">Del</button>
    <button slot="end">{{comments.createdAt | date: 'dd MMM YYYY'}}</button>
  </div>
  <div class="reply" *ngIf="replyCommentVisible">
    <app-comment-form submitLabel="Write" (handleSubmit)="addComment($event,comments.id)" (cancelAction)="cancelAnswer($event)"></app-comment-form>
  </div>
  <div [class]="!comments.replyCount ? '' : 'buttonShowMore'" *ngIf="comments.replyCount !==0">
    <a (click)="showMoreComment(comments.id)" *ngIf="!showMoreCom">Show reply</a>
  </div>
</div>
<div [style.margin-left.px]="marginValue" *ngIf="showMoreCom"><app-comment *ngFor="let comment2 of (comments2 | async)" [comments]="comment2" [idMusic]="idMusic" [numberReply]="numberReply">
</app-comment></div>
