body {
  font: 20px Tahoma,"Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 20%;
  background-image: url(./logo.jpg);
  background-size: cover; 
  height: 100%;
  /* background-position:center; */
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}