<app-header name="Music"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" *ngIf="isIOS">
    <ion-toolbar>
      <ion-title size="large">Music</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="chooseFile()"><ion-icon name="add-outline"></ion-icon></ion-button>
    <!-- <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <input
      #fileInput
      type="file"
      accept="audio/*"
      style="display: none"
      (change)="onFileSelected($event)"
    /> -->
  </ion-fab>
</ion-content>
