<ion-content [fullscreen]="true">
  <div class="profile-container">
    <ion-menu contentId="main-content" *ngIf="!edit">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button color="primary"  (click)="goStats()">Statistics</ion-button>
        <ion-button color="tertiary" class="space"  (click)="goAdmin()">Admin Dashboard</ion-button>
        <ion-button color="danger" class="space" (click)="Deconnexion()">Disconnect</ion-button>
        <ion-button color="danger" class="space"  (click)="AccountDelete()">Delete account</ion-button>
      </ion-content>
    </ion-menu>
    <ion-header *ngIf="!edit">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <img
      id="myImage"
      *ngIf="user?.avatar"
      class="profile-picture"
      [src]="ApiUrl + '/user/proxy-image?url='+(user?.avatar)"
      (onerror)="setDefaultImage()"
      alt="Profile Picture"
    />
    <form *ngIf="edit" [formGroup]="profileForm" (submit)="onSubmit()">
      <div class="form-group">
        <input hidden formControlName="avatar" />
        <ion-input
          label="Nickname"
          labelPlacement="stacked"
          fill="solid"
          formControlName="nickname"
          class="form-control"
          [clearInput]="true"
        ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
          label="Email"
          labelPlacement="stacked"
          fill="solid"
          formControlName="email"
          class="form-control"
          [clearInput]="true"
        ></ion-input>
      </div>
      <div class="form-group">
        <label>Instrument</label>
        <ion-list lines="full" class="insturmentSpace">
          <ion-item *ngFor="let value of instrument">
            <ion-label>{{value.Name}}</ion-label>
            <ion-button slot="end" class="del-instrument" (click)="delInstrument(value.id, value.Name)">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="centered-button">
            <ion-button class="add-instrument" (click)="viewInstrument()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
      <div class="form-group">
        <ion-input
        label="Phone"
        labelPlacement="stacked"
        fill="solid"
        formControlName="phone"
        class="form-control"
        [clearInput]="true"
      ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
          label="Country"
          labelPlacement="stacked"
          fill="solid"
          formControlName="country"
          class="form-control"
          (click)="viewCountryOrCity('Country',0)"
        ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
        label="City"
        labelPlacement="stacked"
        fill="solid"
        formControlName="city"
        class="form-control"
        (click)="viewCountryOrCity('City',CountryId)"
      ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
        label="Spotify"
        labelPlacement="stacked"
        fill="solid"
        formControlName="Spotify"
        class="form-control"
        [clearInput]="true"
      ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
        label="Youtube"
        labelPlacement="stacked"
        fill="solid"
        formControlName="Youtube"
        class="form-control"
        [clearInput]="true"
      ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
        label="Facebook"
        labelPlacement="stacked"
        fill="solid"
        formControlName="Facebook"
        class="form-control"
        [clearInput]="true"
      ></ion-input>
      </div>
      <div class="form-group">
        <ion-input
        label="Soundcloud"
        labelPlacement="stacked"
        fill="solid"
        formControlName="Soundcloud"
        class="form-control"
        [clearInput]="true"
      ></ion-input>
      </div>
      <ion-button type="submit" [disabled]="!profileForm.valid" shape="round">Save Changes</ion-button>
      <ion-button shape="round" color="medium" class="btn btn-medium btntest" (click)="cancelEdit()">Cancel</ion-button>
    </form>
    <div class="profile-info" *ngIf="!edit" id="main-content">
      <h1>{{user.nickname}}</h1>
      <p>Email: {{user.email}}</p>
      <p>Phone: {{user.phone}}</p>
      <p>Instrument: {{instrumentShow.length < 3 ? instrumentShow : instrumentShow.slice(0, 2) + '...'}} <b *ngIf="instrumentShow.length > 2" (click)="setOpen(true)">See</b></p>
      <p>Country: {{user.country}}</p>
      <p>City: {{user.city}}</p>
      <ion-button shape="round" color="dark" class="edit" (click)="Edit()">Edit Profile</ion-button>
    </div>
  </div>
  <div *ngIf="!edit">
    <app-tabs-profil-component></app-tabs-profil-component>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Instrument</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let instrument of instrumentShow">
            {{ instrument }}
          </ion-item>
        </ion-list>        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
