.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 50vh;
    padding: 20px; 
  }
  
  .stat-item {
    background-color: #afafaf; 
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 8px;
    text-align: center;
  }
  