<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Statistics</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="(dataObserv | async) as data">
    <ion-row>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">Total View</p>
          <p class="cell-number">{{data.totView}}</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">Total Like</p>
          <p class="cell-number">{{data.totLike}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">Most Viewed</p>
          <ng-container *ngIf="data.mostView">
            <p class="cell-number">{{data.mostView.musicName}} with {{data.mostView.nbView}} views</p>
          </ng-container>
          <ng-container *ngIf="!data.mostView">
            <p class="cell-number">0</p>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">Most Liked</p>
          <ng-container *ngIf="data.mostLike">
            <p class="cell-number">{{data.mostLike.musicName}} with {{data.mostLike.nbLike}} Likes</p>
          </ng-container>
          <ng-container *ngIf="!data.mostLike">
            <p class="cell-number">0</p>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">View Average</p>
          <ng-container *ngIf="data.avgView">
            <p class="cell-number">{{data.avgView | number:'1.1-1'}}</p>
          </ng-container>
          <ng-container *ngIf="!data.avgView">
            <p class="cell-number">0</p>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="grid-cell">
          <p class="cell-text">Like Average</p>
          <ng-container *ngIf="data.avgLike">
            <p class="cell-number">{{data.avgLike | number:'1.1-1'}}</p>
          </ng-container>
          <ng-container *ngIf="!data.avgLike">
            <p class="cell-number">0</p>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <canvas #myChart id="myChart"></canvas>
</ion-content>
