<ion-header>
  <ion-toolbar>
    <ion-title>
      Conditions d'utilisation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="conditions">
    <p>Impulsion a mis en place des mesures pour protéger la confidentialité de ces utilisateurs conformément au RGPD.</p>
    <p>Impulse s'engage à ne pas partager les données personnelles des utilisateurs avec d'autres utilisateurs à part pour le pays et la ville de résidence.</p>
    <p>Impulsion n'est pas responsable de toute donnée divulguer par un utilisateur.</p>
    <p>En acceptant ces condition d'utilisation vous autoriser Impulsion à traiter vos donnée comme mention précèdement</p>

  </div>

  <ion-button expand="full" (click)="acceptConditions()">Accepter</ion-button>
</ion-content>
